---
name: dbus-signature-pyparsing CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  development_environment_checks:
    strategy:
      matrix:
        include:
          - dependencies: black python3-isort
            task: make -f Makefile fmt-travis
          - dependencies: yamllint
            task: make -f Makefile yamllint
          - dependencies: pylint python3-pyparsing
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: python3-pyparsing
            task: PYTHONPATH=./src make -f Makefile test
          - dependencies: >
              python3-coverage
              python3-pyparsing
            task: PYTHONPATH=./src make -f Makefile coverage
    runs-on: ubuntu-latest
    container: fedora:37  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: >
          dnf install -y
          make
          pip
          ${{ matrix.dependencies }}
      - name: Install hs-dbus-signature
        run: pip install hs-dbus-signature
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
